.header {
   grid-area: header;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 40px;
   position: relative;
}
.header__logo {
   color: #ffffff;
   font-size: 30px;
   display: flex;
   align-items: center;
   font-family: "Raleway", sans-serif;
   display: flex;
   flex-direction: column;
}
.header__logo span {
   line-height: 20px;
   color: #ffffff;
   padding: 0px 3px;
   font-size: 22px;
   border-radius: 5px;
   margin: 0px 0px 0px 6px;
   letter-spacing: 10px;
}
.header__loginBlock {
   height: 40px;
   min-width: 120px;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 5px;
}
.header__loginButton,
.header__logoutBlock {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   text-decoration: none;
   color: #fff;
   font-size: 22px;
   font-family: "Raleway", sans-serif;
   letter-spacing: 2px;
}
.header__logoutBlock {
   color: #ffffff;
   padding: 0 10px;
}
.header__userLogin {
   margin: 0px 10px 0px 0px;
}
.header__logoutBlock span {
   height: 34px;
   width: 1px;
   background-color: rgba(255, 255, 255, 0.3);
   margin: 0px 12px 0px 0px;
}
.header__logoutButton {
   height: 24px;
   width: 24px;
   background: transparent;
}
.header__logoutButton span {
   background-color: transparent;
   color: #fff;
   font-size: 18px;
}
